@{
    ViewData["Title"] = "Home"; // Adjust as necessary
}

<style>
    .MainText {
        font-size: 100px; /* You can adjust this size */
        color: black;
      
    }


</style>

<div class="MainText">
    <p>Welcome to ABC Retail Management System</p>
</div>



